[submodule ".emacs.d/elisp/esk"]
	path = .emacs.d/elisp/esk
	url = git@github.com:clarete/emacs-search-kit.git
[submodule ".emacs.d/elisp/web-mode"]
	path = .emacs.d/elisp/web-mode
	url = https://github.com/fxbois/web-mode.git
[submodule ".emacs.d/elisp/emacs-jedi"]
	path = .emacs.d/elisp/emacs-jedi
	url = git://github.com/tkf/emacs-jedi.git
[submodule ".emacs.d/elisp/hackernews"]
	path = .emacs.d/elisp/hackernews
	url = git@github.com:clarete/hackernews.el.git
[submodule ".emacs.d/elisp/fill-column-indicator"]
	path = .emacs.d/elisp/fill-column-indicator
	url = https://github.com/alpaker/Fill-Column-Indicator.git
