[user]
	name = Lincoln de Sousa
	email = lincoln@comum.org
[color]
	ui = auto

[push]
        default = current
[branch]
	autosetuprebase = always
[alias]
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
